---
title: 404 - Not Found
---

<article class="x404">
  <img src="images/fishy.png" title="ACK! 404 FRIEND, YOU'RE IN THE WRONG PLACE">

  <h1 class="whoops">Ack! 404 friend, you're in the wrong place</h1>

  <p>
    页面没有找到。如果你在找文档，请尝试网站的 <a href="/">指南</a> 部分。
    如果你在找其他东西， 请 <a href="https://github.com/emberjs/website/issues">提交请求</a>.
  </p>

</article>
