<div class="footer">
  <div class="container">
    <div class="footer-info">
      Copyright <%= Time.now.strftime('%Y') %>
      <a href="http://tilde.io">Tilde Inc.</a>
      <br>
      <a href="http://emberjs.com/team">核心团队</a> |
      <a href="http://emberjs.com/sponsors">赞助商</a>
      <br>
      <a href="http://emberjs.com/security">安全</a> |
      <a href="http://emberjs.com/legal">法律</a> |
      <a href="http://emberjs.com/logos">标志</a>
      <br>
      <a href="http://emberjs.com/guidelines">社区准则</a>
    </div>

    <div class="footer-statement">
      Ember.js 将一直是免费的、开源的。
    </div>

    <div class="footer-social">
      <a href="http://twitter.com/emberjs"
        title="Twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="https://github.com/emberjs/ember.js"
        title="GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://plus.google.com/communities/106387049790387471205"
        title="Google+">
        <i class="icon-gplus"></i>
      </a>
    </div>
  </div>
</div>
