<header>
<nav class="navbar navbar-inverse">
 <div class="container">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   <a class="navbar-brand" href="http://emberjs.com"><img src="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/images/ember-logo.svg" alt="home" /></a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
   <ul class="nav navbar-nav">
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文档 <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="http://emberjs.com/guides">指南</a></li>
      <li><a href="http://emberjs.com/api">API 参考</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="http://emberjs.com/learn">学习 Ember</a></li>
     </ul>
    </li>
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Releases <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="http://emberjs.com/builds">通道</a></li>
      <li><a href="http://emberjs.com/builds/release">-- 稳定</a></li>
      <li><a href="http://emberjs.com/builds/beta">-- Beta</a></li>
      <li><a href="http://emberjs.com/builds/canary">-- Canary</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="http://emberjs.com/deprecations">弃用</a></li>
      <li><a href="http://emberjs.com/statusboard">状态委员会</a></li>
     </ul>
    </li>
    <li><a href="http://emberjs.com/blog">博客</a></li>
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">社区 <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="http://emberjs.com/community">Ember 社区</a></li>
       <li><a href="http://emberjs.com/guidelines">方针</a></li>
       <li><a href="http://github.com/emberjs/">贡献 (Github)</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="http://emberjs.com/community/meetups">聚会</a></li>
       <li><a href="http://jobs.emberjs.com/">招聘</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="http://emberconf.com/">Ember Conf</a></li>
     </ul>
     </li>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于<span class="caret"></span></a>
      <ul class="dropdown-menu">
       <li><a href="http://emberjs.com/team">团队</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="http://emberjs.com/logos">Logos</a></li>
       <li><a href="http://emberjs.com/mascots">吉祥物</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="http://emberjs.com/ember-users">谁在用 Ember</a></li>
       <li><a href="http://emberjs.com/sponsors">赞助商</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="http://emberjs.com/legal">法律</a></li>
       <li><a href="http://emberjs.com/security">安全</a></li>
      </ul>
     </li>
   </ul>
   <form class="navbar-form navbar-right searchbox">
    <div class="input-group">
      <label for="search-input" class="control-label sr-only">搜索</label>
        <input type="text"
        class="form-control search input ds-input"
        placeholder="搜索..."
        id="search-input"
        role="combobox"
        aria-expanded="false"
        aria-owns="algolia-autocomplete-listbox-0"
        autocorrect="off"
        autocapitalize="none"
        spellcheck="false"
        />
        <span></span>
    </div>
   </form>
  </div>
  <!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
</header>
