<aside class="sidebar">
  <label for="version-select" class="visually-hidden">指南版本</label>
  <select class="version-select" id="version-select" style="width: 100%"></select>

  <input id="toc-toggle" class="toc-toggle visually-hidden" type="checkbox" />
  <label for="toc-toggle">目录 <span class="visually-hidden">切换</span></label>

  <%= toc_for(data.pages) %>

  <%= link_to "&#11014; Back to Top".html_safe, "#", class: "back-to-top" %>
</aside>
